// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #00b5ad;
  --ion-color-primary-rgb: 0, 181, 173;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #009f98;
  --ion-color-primary-tint: #1abcb5;

  --ion-color-secondary: #f2711c;
  --ion-color-secondary-rgb: 242, 113, 28;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #d56319;
  --ion-color-secondary-tint: #f37f33;

  --ion-color-tertiary: #b5cc18;
  --ion-color-tertiary-rgb: 181, 204, 24;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #9fb415;
  --ion-color-tertiary-tint: #bcd12f;

  --ion-color-success: #2185d0;
  --ion-color-success-rgb: 33, 133, 208;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #1d75b7;
  --ion-color-success-tint: #3791d5;

  --ion-color-warning: #fbbd08;
  --ion-color-warning-rgb: 251, 189, 8;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #dda607;
  --ion-color-warning-tint: #fbc421;

  --ion-color-danger: #db2828;
  --ion-color-danger-rgb: 219, 40, 40;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #c12323;
  --ion-color-danger-tint: #df3e3e;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-blue: #94e4fe;
  --ion-color-blue-rgb: 148, 228, 254;
  --ion-color-blue-contrast: #000000;
  --ion-color-blue-contrast-rgb: 0, 0, 0;
  --ion-color-blue-shade: #82c9e0;
  --ion-color-blue-tint: #9fe7fe;

  --ion-color-pink: #f4a4c0;
  --ion-color-pink-rgb: 244, 164, 192;
  --ion-color-pink-contrast: #000000;
  --ion-color-pink-contrast-rgb: 0, 0, 0;
  --ion-color-pink-shade: #d790a9;
  --ion-color-pink-tint: #f5adc6;

  --ion-padding: 16px;
  --ion-margin: 16px;
}

.ion-color-blue {
  --ion-color-base: var(--ion-color-blue);
  --ion-color-base-rgb: var(--ion-color-blue-rgb);
  --ion-color-contrast: var(--ion-color-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-blue-shade);
  --ion-color-tint: var(--ion-color-blue-tint);
}

.ion-color-pink {
  --ion-color-base: var(--ion-color-pink);
  --ion-color-base-rgb: var(--ion-color-pink-rgb);
  --ion-color-contrast: var(--ion-color-pink-contrast);
  --ion-color-contrast-rgb: var(--ion-color-pink-contrast-rgb);
  --ion-color-shade: var(--ion-color-pink-shade);
  --ion-color-tint: var(--ion-color-pink-tint);
}

ion-list.normal {
  ion-item:last-of-type {
    --border-width: 0;
    --inner-border-width: 0;
  }
}
ion-list.table {
  ion-row:last-of-type {
    ion-item {
      --border-width: 0;
      --inner-border-width: 0;
    }
  }
}
ion-list.sliding {
  ion-item-sliding:last-of-type {
    ion-item {
      --border-width: 0;
      --inner-border-width: 0;
    }
  }
}

ion-list-header {
  --color: var(--ion-color-primary);
}

.kruzky {
  ion-tab-button {
    --color: var(--ion-color-secondary);
    --color-selected: var(--ion-color-secondary);
  }

  ion-list-header {
    --color: var(--ion-color-secondary);
  }
}

.profil {
  ion-tab-button {
    --color: var(--ion-color-tertiary);
    --color-selected: var(--ion-color-tertiary);
  }

  ion-list-header {
    --color: var(--ion-color-tertiary);
  }
}
