<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/kruzky"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Krúžok
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="ulozit()" [disabled]="formular.invalid">
        <ion-icon name="save" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formular">
    <ion-grid class="ion-no-padding" fixed>
      <ion-row>
        <ion-col class="ion-no-padding">
          <ion-list *ngIf="loading" class="normal">
            <ion-item>
              <ion-label class="ion-text-center">
                <ion-spinner color="primary"></ion-spinner>
              </ion-label>
            </ion-item>
          </ion-list>

          <ion-list *ngIf="!loading" class="normal">
            <ion-item>
              <ion-label position="stacked">Názov <ion-text color="danger">*</ion-text></ion-label>
              <ion-input type="text" formControlName="nazov"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Vedúci <ion-text color="danger">*</ion-text></ion-label>
              <ion-select formControlName="veduci" cancelText="Zrušiť">
                <ion-select-option *ngFor="let v of veduci" [value]="v.id">
                  {{ v.meno }} {{ v.priezvisko }}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Zadarmo</ion-label>
              <ion-toggle formControlName="zadarmo"></ion-toggle>
            </ion-item>
          </ion-list>

          <ion-list *ngIf="!loading && modUpravit" class="sliding">
            <ion-list-header>Účastníci ({{ kruzok.pocetUcastnikov }})</ion-list-header>
            <ion-item *ngIf="ziadneData" lines="none">
              <ion-label color="medium" class="ion-text-center"> Žiadni účastníci</ion-label>
            </ion-item>
            <ion-item-sliding *ngFor="let ucastnik of kruzok.ucastnici; index as i">
              <ion-item [routerLink]="['/tabs/ucastnici/ucastnik', ucastnik.id]" button>
                <ion-note slot="start">
                  {{ i + 1 | number: '2.0-0' }}
                </ion-note>
                <ion-label> {{ ucastnik.meno }} {{ ucastnik.priezvisko }} </ion-label>
              </ion-item>

              <ion-item-options side="start">
                <ion-item-option color="secondary">
                  <ion-icon slot="icon-only" name="logo-euro"></ion-icon>
                  <!-- Zaplatiť -->
                </ion-item-option>
              </ion-item-options>

              <ion-item-options side="end">
                <ion-item-option color="danger">
                  <ion-icon slot="icon-only" name="close"></ion-icon>
                  <!-- Odstrániť -->
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
